{
  "parser": "babel-eslint",
  "plugins": [],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {}
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": [
    "airbnb"
  ],
  "rules": {
    "max-len": [
      "warn", { "code": 160 }
    ],
    "no-console": "off",
    "no-nested-ternary": "off",
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
